*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  background-color: #fff;
  border-top: 5px solid #3B95FF; }

body {
  font-family: 'Source Sans Pro', sans-serif; }

.heading-primary {
  font-size: 4rem; }

.heading-secondary {
  font-size: 2rem;
  margin-right: 15rem;
  margin-top: 1rem; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.btn-text {
  font-size: 2rem;
  color: #3B95FF;
  text-decoration: none; }

.navbar {
  font-size: 1.8rem;
  padding-bottom: 1rem; }
  .navbar .nav-list {
    list-style-type: none;
    display: none; }
    .navbar .nav-list .nav-links {
      text-decoration: none;
      color: #333; }
    .navbar .nav-list li {
      text-align: center;
      margin: 1.5rem auto; }
  .navbar .logo-link {
    text-decoration: none;
    color: #333;
    display: inline-block;
    font-size: 2.2rem;
    margin-top: 1rem;
    margin-left: 5rem; }
  .navbar .navbar-toggle {
    position: absolute;
    top: 1rem;
    right: 2rem;
    cursor: pointer;
    color: #333;
    font-size: 2.4rem; }
  .navbar #chkToggle {
    display: none; }
  .navbar #chkToggle:checked + ul.nav-list {
    display: block; }

@media screen and (min-width: 768px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 7rem;
    align-items: center; }
    .navbar #chkToggle:checked + ul.nav-list {
      display: flex; }
    .navbar .nav-list {
      display: flex;
      margin-right: 3rem;
      flex-direction: row;
      justify-content: flex-end; }
    .navbar .nav-list li {
      margin: 0; }
    .navbar .nav-links {
      margin-left: 4rem; }
    .navbar .logo-link {
      margin-top: 0; }
    .navbar .navbar-toggle {
      display: none; } }

.header {
  height: 95vh; }

.header__main {
  padding-top: 15rem;
  margin-left: 5rem; }
