.header{
    // height: 95vh;
    &-image {
        
        height: auto;
        width: 8%;
        border-radius: 50%;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
        margin-right: 2rem;
    }
    &__row {
        display: flex;
        align-items: center;
        flex-flow: row wrap;
        justify-content: center;
    }
}

.header__main{
    padding-top: 15rem;
    margin-left: 5rem;
}